<h1 mat-dialog-title>
  {{ (data.isEdit ? 'Edit' : 'Create') | translate }} {{ 'email' | translate }}
</h1>

<div mat-dialog-content>
  <mat-form-field
    *ngIf="canEditColumn('from_name') && advanced"
    class="entity-edit-field"
    appearance="outline"
  >
    <mat-label>{{ 'From name' | translate }}</mat-label>
    <input
      matInput
      type="text"
      (change)="changed('from_name')"
      [(ngModel)]="data.entity.from_name"
      autocomplete="off"
    />
  </mat-form-field>

  <mat-form-field
    *ngIf="canEditColumn('from_email') && advanced"
    class="entity-edit-field"
    appearance="outline"
  >
    <mat-label>{{ 'From email' | translate }}</mat-label>
    <input
      matInput
      type="text"
      (change)="changed('from_email')"
      [(ngModel)]="data.entity.from_email"
      autocomplete="off"
    />
  </mat-form-field>

  <mat-form-field
    *ngIf="canEditColumn('to_name')"
    class="entity-edit-field search"
    appearance="outline"
  >
    <mat-label>{{ 'To name' | translate }}</mat-label>
    <input
      matInput
      type="text"
      (change)="changed('to_name')"
      [(ngModel)]="data.entity.to_name"
      autocomplete="off"
    />
    <button mat-icon-button (click)="search()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field
    *ngIf="canEditColumn('to_email')"
    class="entity-edit-field"
    appearance="outline"
  >
    <mat-label>{{ 'To email' | translate }}</mat-label>
    <input
      matInput
      type="text"
      (change)="changed('to_email')"
      [(ngModel)]="data.entity.to_email"
      autocomplete="off"
    />
  </mat-form-field>

  <div class="recipients" *ngIf="recipients.length > 0">
    <div
      *ngFor="let idx of recipients"
      role="button"
      (click)="recipientSelected(idx)"
    >
      {{ idx.contact }}
    </div>
  </div>

  <mat-form-field
    *ngIf="canEditColumn('subject')"
    class="entity-edit-field-wide"
    appearance="outline"
  >
    <mat-label>{{ 'Subject' | translate }}</mat-label>
    <input
      matInput
      type="text"
      (change)="changed('subject')"
      [(ngModel)]="data.entity.subject"
      autocomplete="off"
    />
  </mat-form-field>

  <mat-form-field
    *ngIf="canEditColumn('content')"
    class="entity-edit-field-wide"
    appearance="outline"
  >
    <mat-label>{{ 'Content' | translate }}</mat-label>
    <textarea
      matInput
      rows="10"
      (change)="changed('content')"
      [(ngModel)]="data.entity.content"
      autocomplete="off"
    ></textarea>
  </mat-form-field>

  <mat-form-field
    *ngIf="canEditColumn('language') && advanced"
    class="entity-edit-field"
    appearance="outline"
  >
    <mat-label>{{ 'Language' | translate }}</mat-label>
    <input
      matInput
      type="text"
      (change)="changed('language')"
      [(ngModel)]="data.entity.language"
      autocomplete="off"
    />
  </mat-form-field>

  <mat-form-field
    *ngIf="canEditColumn('id')"
    class="entity-edit-field"
    appearance="outline"
  >
    <mat-label>{{ 'Id' | translate }}</mat-label>
    <input
      matInput
      type="number"
      step="1"
      (change)="changed('id')"
      [(ngModel)]="data.entity.id"
      autocomplete="off"
    />
  </mat-form-field>

  <mat-checkbox
    *ngIf="canEditColumn('html') && advanced"
    class="entity-edit-field"
    (change)="changed('html')"
    [(ngModel)]="data.entity.html"
    >html</mat-checkbox
  >
</div>

<div mat-dialog-actions>
  <div class="right-aligned">
    <mat-slide-toggle labelPosition="before" [(ngModel)]="advanced"
      >Advanced</mat-slide-toggle
    >
    <button
      [matTooltip]="'Send email' | translate"
      color="primary"
      mat-raised-button
      (click)="send()"
    >
      {{ 'Send' | translate }}
    </button>
    <button
      [matTooltip]="'Saves email as a draft' | translate"
      mat-button
      (click)="upsert()"
    >
      {{ 'Save' | translate }}
    </button>

    <button
      mat-button
      [matTooltip]="'Discard email' | translate"
      (click)="close(null)"
    >
      {{ 'Cancel' | translate }}
    </button>
  </div>
</div>
